html,body{
margin:0;
padding:0;
height:100%;
overflow:hidden;
font-family:Arial;
}

#map{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:1;
}

#ui{

position:fixed;

top:15px;
left:15px;

z-index:99999;

display:flex;

flex-direction:column;

gap:8px;

}

#ui input{

padding:8px;

border-radius:6px;

border:none;

width:180px;

}

#ui button{

padding:10px;

border:none;

border-radius:8px;

background:#1976d2;

color:white;

cursor:pointer;

}

#speed{

background:black;

color:#00ff00;

padding:6px;

border-radius:6px;

text-align:center;

font-size:16px;

}